/* styles.css */
.quotes h2 {
    font-size: 2.5rem;
}
/*.quotes h2, .quotes h3{*/
/*    background: rgba(0,0,0,0.8);*/
/*    display: inline-block;*/
/*}*/
.quotes{
    background: linear-gradient(90deg, transparent, #034001, transparent);
    padding: 1rem 0;
}
.hero{
    background-image: url("images/banner.png");
    background-size: cover;
    background-position: center;
}
.card-img-top {
    width: 100%;
}

.card {
    text-align: center;
    padding: 1rem;
    border: none;
}
.navbar{
    background: #f3cb01 !important;
    position: relative;
    z-index: 99999;
}
.btn-scandin{
    background: #034001;
    color: white;
    margin-top: 1.5rem;
    border: 1px solid white;
}
.btn-scandin:hover{
    background-color: #055902 !important;
    border: 1px solid white;
}
.logo{
    width: 200px;
    img{
        width: 100%;
    }
}
.card-block{
    .card{
        height: 100%;
        .card-body{
            ul{
                li{
                    &:last-child{
                        list-style: none;
                    }
                    h3{
                        height: 10px;
                        line-height: 1px;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}